In [1]:
#Create an sqlalchemy engine using a sample from the data set 
#import pandas as pd
#import sqlite3
#Using local csv file as 404 http error is coming sometimes
#df=pd.read_csv(r'C:\Users\sidha\Documents\GitHub\ACD_MDS_Online_V5_Session_13_Assignment_1_Main\adult_data.csv')
#df=df.head(100)
#rename columns
#df.columns=['age','workclass','fnlwgt','education','education_num','marital_status','occupation','relationship','race','sex','capital_gain'
           #,'capital_loss','hours_per_week','native_country','salary']
#Start db connection
#conn = sqlite3.connect('sqladb.db')
#cur = conn.cursor()
#create table
#cur.execute("create table adult (id integer,age integer,workclass text,fnlwgt integer,education test ,education_num integer ,marital_status text,occupation text,relationship text,race text,sex text,capital_gain integer,capital_loss integer,hours_per_week integer,native_country text,salary text)")
#insert data into table

In [2]:
#Import required libraries
import os
import sys
from sqlalchemy import Column, ForeignKey, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy import create_engine
Base = declarative_base()

#create class adult for table 
class Adult(Base):
    __tablename__ = 'adult'
    # Here we define columns for the table person
    # Notice that each column is also a normal Python instance attribute.
    id = Column(Integer, primary_key=True)
    age =Column(Integer)
    workclass =Column(String(250))
    fnlwgt = Column(Integer)
    education= Column(String(250)) 
    education_num=Column(Integer)
    marital_status= Column(String(250))
    occupation=Column(String(250))
    relationship=Column(String(250))
    race= Column(String(250))
    sex=Column(String(250))
    capital_gain=Column(Integer)
    capital_loss=Column(Integer)
    hours_per_week=Column(Integer)
    native_country=Column(String(250))
    salary=Column(String(250))
#Create sqlalchmy engine for db    
engine = create_engine('sqlite:///sqlalchmy2.db',echo=True) 
Base.metadata.create_all(engine)

2019-05-19 15:01:12,927 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-05-19 15:01:12,928 INFO sqlalchemy.engine.base.Engine ()
2019-05-19 15:01:12,930 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-05-19 15:01:12,931 INFO sqlalchemy.engine.base.Engine ()
2019-05-19 15:01:12,942 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adult")
2019-05-19 15:01:12,944 INFO sqlalchemy.engine.base.Engine ()
2019-05-19 15:01:12,952 INFO sqlalchemy.engine.base.Engine
CREATE TABLE adult (
	id INTEGER NOT NULL,
	age INTEGER,
	workclass VARCHAR(250),
	fnlwgt INTEGER,
	education VARCHAR(250),
	education_num INTEGER,
	marital_status VARCHAR(250),
	occupation VARCHAR(250),
	relationship VARCHAR(250),
	race VARCHAR(250),
	sex VARCHAR(250),
	capital_gain INTEGER,
	capital_loss INTEGER,
	hours_per_week INTEGER,
	native_country VARCHAR(250),
	salary VARCHAR(250),
	PRIMARY KEY (id)
)


2019-05-19 15:01:12,954 INFO sqlalchemy.engine.base.Engine ()
2019-05-19 15:01:13,167 INFO sqlalchemy.engine.base.Engine COMMIT

In [3]:
#Bind the session with engine and initiate the session
from sqlalchemy.orm import sessionmaker
DBSession = sessionmaker(bind=engine)
session = DBSession()

In [4]:
#Qn2 Write two basic update queries
from sqlalchemy import update
#Select some rows and print
all_rows=session.query(Adult).all()
for row in all_rows:
    print(str(row.id)+' '+row.workclass+' '+row.education+' '+str(row.age))

2019-05-19 15:02:12,398 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-05-19 15:02:12,401 INFO sqlalchemy.engine.base.Engine SELECT adult.id AS adult_id, adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.salary AS adult_salary
FROM adult
2019-05-19 15:02:12,403 INFO sqlalchemy.engine.base.Engine ()

In [5]:
#update the rows
session.query(Adult).filter_by(id=123).update({"age":50})
session.query(Adult).filter_by(id=346).update({"age":60})
all_rows=session.query(Adult).all()
#print updated rows
for row in all_rows:
    print(str(row.id)+' '+row.workclass+' '+row.education+' '+str(row.age))

2019-05-19 15:02:46,668 INFO sqlalchemy.engine.base.Engine UPDATE adult SET age=? WHERE adult.id = ?
2019-05-19 15:02:46,669 INFO sqlalchemy.engine.base.Engine (50, 123)
2019-05-19 15:02:46,675 INFO sqlalchemy.engine.base.Engine UPDATE adult SET age=? WHERE adult.id = ?
2019-05-19 15:02:46,677 INFO sqlalchemy.engine.base.Engine (60, 346)
2019-05-19 15:02:46,681 INFO sqlalchemy.engine.base.Engine SELECT adult.id AS adult_id, adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.salary AS adult_salary
FROM adult
2019-05-19 15:02:46,683 INFO sqlalchemy.engine.base.Engine ()

In [6]:
#Qn3 Write two delete queries
from sqlalchemy import delete
#Delete rows and commit
session.query(Adult).filter_by(id=123).delete()
session.query(Adult).filter_by(id=346).delete()
session.commit()

2019-05-19 15:04:01,912 INFO sqlalchemy.engine.base.Engine DELETE FROM adult WHERE adult.id = ?
2019-05-19 15:04:01,914 INFO sqlalchemy.engine.base.Engine (123,)
2019-05-19 15:04:01,919 INFO sqlalchemy.engine.base.Engine DELETE FROM adult WHERE adult.id = ?
2019-05-19 15:04:01,920 INFO sqlalchemy.engine.base.Engine (346,)
2019-05-19 15:04:01,922 INFO sqlalchemy.engine.base.Engine COMMIT

In [7]:
#print curreent instance values after deleting 
all_rows=session.query(Adult).all()
for row in all_rows:
    print(str(row.id)+' '+row.workclass+' '+row.education+' '+str(row.age))

2019-05-19 15:04:16,256 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-05-19 15:04:16,258 INFO sqlalchemy.engine.base.Engine SELECT adult.id AS adult_id, adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.salary AS adult_salary
FROM adult
2019-05-19 15:04:16,261 INFO sqlalchemy.engine.base.Engine ()

In [8]:
#Qn 4 Write two filter queries 
fil_a=session.query(Adult).filter_by(id=345).all()
fil_b=session.query(Adult).filter_by(id=347).all()
#Print filtered values
for row in fil_a:
    print(str(row.id)+' '+row.workclass+' '+row.education+' '+str(row.age))
for row in fil_b:
    print(str(row.id)+' '+row.workclass+' '+row.education+' '+str(row.age))

2019-05-19 15:04:51,403 INFO sqlalchemy.engine.base.Engine SELECT adult.id AS adult_id, adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.salary AS adult_salary
FROM adult
WHERE adult.id = ?
2019-05-19 15:04:51,407 INFO sqlalchemy.engine.base.Engine (345,)
2019-05-19 15:04:51,413 INFO sqlalchemy.engine.base.Engine SELECT adult.id AS adult_id, adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.salary AS adult_salary
FROM adult
WHERE adult.id = ?
2019-05-19 15:04:51,415 INFO sqlalchemy.engine.base.Engine (347,)

In [10]:
# Qn5 Write two function queries
#Inport library for functions
from sqlalchemy.sql import func
#Query max and avg function
qry1 = session.query(func.max(Adult.age).label("max_age"))
qry2 = session.query(func.avg(Adult.age).label("avg_age"))
res1 = qry1.one()
res2 = qry2.one()
max_age = res1.max_age
avg_age = res2.avg_age
#Print max and avg
print("Max age is {}".format(max_age))
print("Avg age is {}".format(avg_age))

2019-05-19 15:05:29,159 INFO sqlalchemy.engine.base.Engine SELECT max(adult.age) AS max_age
FROM adult
2019-05-19 15:05:29,161 INFO sqlalchemy.engine.base.Engine ()
2019-05-19 15:05:29,167 INFO sqlalchemy.engine.base.Engine SELECT avg(adult.age) AS avg_age
FROM adult
2019-05-19 15:05:29,169 INFO sqlalchemy.engine.base.Engine ()
Max age is None
Avg age is None